*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(70, 70, 70);
  }
  
  body{
    margin:30px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main{
  background-color:rgba(0,0,0,0.05);
  padding:40px;
  border-radius: 5px;
  width: 100%;
  }
  
  #title{
    margin-bottom: 15px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
  }

  h1,h2,p{
    text-align:center;
  }

  #img-div{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#fff;
    padding:10px 12px ;
    margin:10px;
    overflow:hidden;
  }
  
  #image{
    margin:0 10px;
    height:auto;
    display:block;
  }
  
  .lifecycle{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  ul li{
    padding:10px;
  }
  ul li span{
    font-weight: bold;
  }
  ul, i{
    margin:20px;
    max-width: 600px;
  }
  
  a{
    text-decoration:none;
    color:rgba(23,19,245,0.9)
  }
  
  p{
    text-align: center;
  }
  h1{
    text-align: center;
  }

  .closing_remark{
    font-size: 0.9rem;
  }